<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <br>
    <br>

    <form name='login' method='post' action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">ok</button>

    </form>
</body>

</html>