{% load static %}

<!doctype html>
<html lang="en">


<head>
	<title>Travel</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

</head>



<body class="img js-fullheight" background="{% static 'accounts/images/bg.jpg' %}">




	<header id="header">





		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="{% url 'firstsite:index' %}"><img src="{%  static 'img/logo.png' %}" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="{% url 'firstsite:index' %}">Home</a></li>
						<li><a href="{% url 'firstsite:about' %}">About</a></li>
						<li><a href="{% url 'Blog:blog-home' %}">Blog</a></li>
						<li class="menu-has-children"><a href="">Pages</a>
							<ul>
								<li><a href="{% url 'firstsite:elements' %}">Elements</a></li>
								<li class="menu-has-children"><a href="">Level 2 </a>
									<ul>
										<li><a href="#">Item One</a></li>
										<li><a href="#">Item Two</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="{% url 'firstsite:contact' %}">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>


	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<p class="text-white">Forgotten your password? Enter your email address below, and we’ll email
						instructions for setting a new one.</p>
					<div class="login-wrap p-0">
						<form method="post">
							{%csrf_token%}
							<div class="form-group">
								<input name="email" type="email" maxlength="254" autocomplete="email"
									class="form-control" placeholder="Input your email address" required=""
									id="id_email">
							</div>
							<div class="form-group">
								<button type="submit" value="Reset my password"
									class="form-control btn btn-primary submit px-3">Submit</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'accounts/js/jquery.min.js' %}"></script>
	<script src="{% static 'accounts/js/popper.js' %}"></script>
	<script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'accounts/js/main.js' %}"></script>




	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/easing.min.js' %}"></script>
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


</body>

</html>